{% extends 'AnalyzerDir/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block page-header %} Analyzer {% endblock %}
{% block page-sub-header %} Analyzer Analytics {% endblock %}
{% block cssimport %}


{#    <!-- NProgress -->#}
{#    <link href="{% static 'vendor/nprogress/nprogress.css' %}" rel="stylesheet">#}
{##}
{#    <!-- bootstrap-progressbar -->#}
{#    <link href="{% static 'vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">#}



    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css" rel="stylesheet">
    <!-- responsive : category-workspace-table -->
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" rel="stylesheet">

    <!-- select bootstrap -->
    <!--https://github.com/silviomoreto/bootstrap-select-->
    <link href="{% static 'vendor/bootstrap-select-master/dist/css/bootstrap-select.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select-master/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">

    <!-- iCheck -->
    <link href="{% static 'vendor/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <style>
        #feature-3d . svg path{
          stroke: #000;
          stroke-width: 1px;
          stroke: rgba(0,0,0,0.2);
        }
        #feature-3d . svg{
          border: 1px solid #DED8BF;
          background-color: #f4f4d9;
          width: 700px;
          height: 400px;
        }
        #feature-3d . ul{
          width: 200px;
          float: left;
          list-style-type: none;
          margin: 0;
          padding: 0;
          padding-right: 10px;
        }
        #feature-3d . li{
          cursor: pointer;
          background-color: #c8ad93;
          padding: 10px;
          margin: 2px;
          color: #fff;
        }
        .report-title {
            font-size: 3em;
        }

    </style>
    <!-- datepicker -->
    <style type="text/css">
        .ui-datepicker {
            background: #333;
            border: 1px solid #555;
            color: #EEE;
        }
    </style>
{% endblock %}


{% bootstrap_css %}
{% bootstrap_javascript %}
{% block bodycontent %}
<br/><br/><br/><br/>

    <!-- Controller panel -->
    <div class="controller">
        <!-- Analyzer Controller -->
        <div class="col-md-6 col-sm-6 col-xs-6" style="overflow:auto;">
            <div class="x_panel">
              <div class="x_title">
                <h2> Analyzer Controller <small>Pre Process/Data Analysis/Post Process</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                  Whole projects lists.
                </p>
                <div id="form-div">
                    <form id="datafile-upload-form" action="" method="post" enctype="multipart/form-data"
                        onsubmit="return false;">
                        {% csrf_token %}
                        <table>
                            {{ job_form.as_table }}
                            {{ datafile_form.as_table }}
                        </table>
                        <button id="JobSubmitButton">Submit</button>
                    </form>
                </div>
                <p class="anwser-console col-md-12 col-sm-12 col-xs-12" id="anwser" style="
                    height: 200px;
                    white-space: nowrap;
                    overflow: scroll;
                    background-color:black;
                    color: seashell;">Hello!</p>
              </div>
            </div>
        </div>
    </div>

    <!-- Analyzer Job -->
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel">
            <div class="x_title">
                <h2> Job List
                    <small> for whole</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- task-table-wrapper-->
                <div class="task-table-wrapper">
                  <table id="ctrl-job-table1" class="table table-striped table-bordered bulk_action datatable-checkbox">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>job priority</th>
                        <th>job name</th>
                        <th>job submitter</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for job in jobs %}
                      <tr>
                        <td></td>
                        <td class="job-pk" >{{job.pk}}</td>
                        <td class="job-priority">{{ job.job_priority }}</td>
                        <td class="job-name">{{ job.job_name }}</td>
                        <td class="job-submitter">{{ job.job_submitter }} </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div>
                    <button class="btn btn-danger btn-sm btn-job-delete" data-toggle="modal"
                            data-target="#job-delete-confirm-modal">DELET</button>
                  </div>
                </div>
                <!-- task-table-wrapper ends -->
            </div>

            <!-- delete confirmation modal -->
            <div class="container">
              <!-- Task Post Modal -->
              <div class="modal fade" id="job-delete-confirm-modal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Job delete confirmation</h4>
                    </div>
                    <div class="modal-body">
                      <p> Are you sure to delete ?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="delete_yes_button1" class="btn btn-default delete_yes_button"
                              data-dismiss="modal" name="delete_job" value="1">Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <!-- ML Report -->
    <div class="col-md-12 col-sm-12 col-xs-12" style="overflow:auto;">
        <div class="x_panel">
            <div class="x_title">
                <h2> ML Analysis Report </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Prediction Results</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Feature Engineering</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Model Tuning</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Report Stack</a>
                    </li>
                  </ul>
                    <div class="clearfix"></div>
                  <div id="myTabContent" class="tab-content">
                    <!-- panel 1 -->
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                      <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terr.</p>
                      <!-- Prediction Results panel -->
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Prediction Results</h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                          <p>Simple table with project listing with progress and editing options</p>
                            <!-- ml report plot canvas -->
                            <div id="answer-ml-report-1" style="max-width: 100%">
                            </div>
                            <!-- ml report plot canvas end -->
                        </div>
                      </div>
                      <!-- Prediction Results panel end -->
                    </div>
                    <!-- panel 2 -->
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                        <!-- ml report plot canvas -->
                            <div id="answer-ml-pre-report" style="max-width: 100%">
                            </div>
                        <!-- ml report plot canvas end -->

                        <!-- surface3d plot -->
                        <div id="feature-3d"></div>
                        <!-- surface3d plot end -->
                    </div>
                    <!-- panel 3 -->
                    <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                      <p></p>


                         <!-- Prediction Results panel -->
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Model Tuning</h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                              </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                          <p>Simple table with project listing with progress and editing options</p>

                        </div>
                      </div>
                      <!-- Prediction Results panel end -->



                        <!-- ml report plot canvas -->
                            <div id="answer-ml-model-report" style="max-width: 100%">
                            </div>
                        <!-- ml report plot canvas end -->
                      <div id="model-3d"></div>
                    </div>

                    <!-- panel 4 -->
                    <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                      <p> D3.js graph representation with JSON data format </p>

                        <!-- ml report plot canvas -->
                        <div id="answer-ml-report-stack" style="max-width: 100%">
                        </div>
                        <!-- ml report plot canvas end -->

                      <div id="task-graph"></div>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

            </div>
            <!-- report x_content end -->
        </div>
    </div>

    <!-- Highcharts plots -->
{#    <div class="PostProcessor">#}
{#        <!-- PostProcessor Sample -->#}
{#        <!-- Scatter Plot -->#}
{#        <div class="col-md-12 col-sm-12 col-xs-12" style="overflow:auto;">#}
{#            <div class="x_panel">#}
{#              <div class="x_title">#}
{#                <h2> Resource Performance <small>whole projects</small></h2>#}
{#                <ul class="nav navbar-right panel_toolbox">#}
{#                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
{#                  </li>#}
{#                  <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
{#                    <ul class="dropdown-menu" role="menu">#}
{#                      <li><a href="#">Settings 1</a>#}
{#                      </li>#}
{#                      <li><a href="#">Settings 2</a>#}
{#                      </li>#}
{#                    </ul>#}
{#                  </li>#}
{#                  <li><a class="close-link"><i class="fa fa-close"></i></a>#}
{#                  </li>#}
{#                </ul>#}
{#                <div class="clearfix"></div>#}
{#              </div>#}
{##}
{##}
{#              <div class="x_content">#}
{##}
{#                <p class="text-muted font-13 m-b-30">#}
{#                    Whole projects lists.#}
{#                    <a id="g0" class="btn btn-sm btn-success" aria-label="scatter chart"><img src="{% static 'img/icons/fa-scatter-chart-o.png' %}" style="height:1.5em;"></img></a>#}
{#                    <a id="g1" class="btn btn-sm btn-success" aria-label="line chart"><i class="fa fa-line-chart"></i></a>#}
{#                    <a id="g2" class="btn btn-sm btn-success" aria-label="bar chart"><i class="fa fa-bar-chart"></i></a>#}
{#                    <a id="g3" class="btn btn-sm btn-success" aria-label="area chart"><i class="fa fa-area-chart"></i></a>#}
{#                    <a id="g4" class="btn btn-sm btn-success" aria-label="pie chart"><i class="fa fa-pie-chart"></i></a>#}
{#                </p>#}
{#                    <select class="problem">#}
{#                        <option value="">test</option>#}
{#                    </select>#}
{##}
{#                    <select class="Sample-Problem" name="Problem name">#}
{#                        <optgroup label="sample-problem">#}
{#                            <option value="MNIST">MNIST</option>#}
{#                            <option value="Iris">Iris</option>#}
{#                            <option value="ImageNet">ImageNet,Cifar-10</option>#}
{#                        </optgroup>#}
{#                    </select>#}
{#                   <select class="Sample-Solver">#}
{#                       <optgroup label="MNIST">#}
{#                            <option value="tensorflow">tensorflow</option>#}
{#                           <option value="lasagne">lasagne</option>#}
{#                            <option value="sklearn">sklearn</option>#}
{#                       </optgroup>#}
{#                       <optgroup label="Iris">#}
{#                            <option value="tensorflow">tensorflow</option>#}
{#                            <option value="sklearn">sklearn</option>#}
{#                       </optgroup>#}
{#                       <optgroup label="ImageNet">#}
{#                            <option value="AlexNet">AlexNet</option>#}
{#                            <option value="GoogleNet">GoogleNet,Inception-v3</option>#}
{#                            <option value="VGGNet">VGGNet</option>#}
{#                            <option value="ResNet">ResNet</option>#}
{#                       </optgroup>#}
{#                   </select>#}
{#                <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>#}
{##}
{#              </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
{% block jsimport %}
    <!-- Cookie -->
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'vendor/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'vendor/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'vendor/iCheck/icheck.min.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'build/js/custom.js' %}"></script>

    <!-- Check Whether user intended to close the x_panel -->
    <script>
      $('i[class="fa fa-close"]').on('click',function(e){
        var r = confirm("Press a button");
        if (r == true) {
            x = "";
        } else {
            x = "You pressed Cancel!";
        }
      });
    </script>

    <script src="{% static 'vendor/bootstrap-select-master/dist/js/bootstrap-select.min.js' %}"></script>
{#    <script>#}
{#    $(document).ready(function(){#}
{#        $('.Sample-Solver optgroup').hide();#}
{#        $('.Sample-Problem').change(function(){#}
{#            var text= $(this).val();#}
{#            $('.Sample-Solver optgroup').hide();#}
{#            $('.Sample-Solver').val('');#}
{#            $('.Sample-Solver optgroup[label="'+text+'"]').css({'display':'block'});#}
{##}
{#        });#}
{#    });#}
{#    </script>#}

    <!-- Scatter High Charts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>

    <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>

    <!-- template variables -->
    <script>
        window.alert = function() { throw("alert called") };
        var username = "{{ username }}";
          $(function() {
            $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "2010:2018",
              monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
              dayNames: [ "일", "월", "화", "수", "목", "금", "토" ]

              // You can put more options here.

            });
          });
    </script>

    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/Summa_Analyzer_tmp.js' %}"></script>


    <!-- Set Scroll bottom -->

    <!-- Currently in Ajax request script because of 3dplot data -->
    <!--
    <script src="static 'analyzer/js/surface3d.js'"></script>
    -->
{% endblock %}